USE [master]
GO
/****** Object:  Database [SISRI]    Script Date: 2026/03/01 19:00:34 ******/
CREATE DATABASE [SISRI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SISRI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SISRI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SISRI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SISRI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SISRI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SISRI]
GO
/****** Object:  User [etl_user]    Script Date: 2026/03/01 19:00:34 ******/
CREATE USER [etl_user] FOR LOGIN [etl_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [etl_user]
GO
/****** Object:  Schema [DW]    Script Date: 2026/03/01 19:00:34 ******/
CREATE SCHEMA [DW]
GO
/****** Object:  Schema [ETL]    Script Date: 2026/03/01 19:00:34 ******/
CREATE SCHEMA [ETL]
GO
/****** Object:  Schema [ODS]    Script Date: 2026/03/01 19:00:34 ******/
CREATE SCHEMA [ODS]
GO
/****** Object:  Table [DW].[Dim_Brands]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DW].[Dim_Brands](
	[Brand_SK] [int] IDENTITY(1,1) NOT NULL,
	[Principal_Code] [varchar](500) NULL,
	[Brand_Code] [varchar](500) NULL,
	[Brand_Name] [varchar](500) NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
	[Updated_Datetime] [datetime] NULL,
 CONSTRAINT [PK_Dim_Brands] PRIMARY KEY CLUSTERED 
(
	[Brand_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DW].[Dim_Principals]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DW].[Dim_Principals](
	[Principal_SK] [int] IDENTITY(1,1) NOT NULL,
	[Row_Is_Current] [bit] NOT NULL,
	[Row_Effective_Datetime] [datetime] NOT NULL,
	[Row_Expiry_Datetime] [datetime] NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
	[Updated_Datetime] [datetime] NULL,
	[Principal_Address] [varchar](500) NULL,
	[Principal_City] [varchar](500) NULL,
	[Principal_Code] [varchar](500) NULL,
	[Principal_Country] [varchar](500) NULL,
	[Principal_Name] [varchar](500) NULL,
	[Principal_Province] [varchar](500) NULL,
	[Principal_Trading_As_Name] [varchar](500) NULL,
 CONSTRAINT [PK_Dim_Principals] PRIMARY KEY CLUSTERED 
(
	[Principal_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Dim_Source_Imports]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Dim_Source_Imports](
	[Source_Import_SK] [int] IDENTITY(1,1) NOT NULL,
	[Source_Name] [varchar](100) NOT NULL,
	[Rel_Path] [varchar](500) NULL,
	[Pattern] [varchar](100) NULL,
	[Sheet_Name] [varchar](100) NULL,
	[Staging_Table] [varchar](100) NULL,
	[Processing_Order] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
	[Is_Active] [bit] NOT NULL,
	[Is_Deleted] [bit] NOT NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
	[Updated_Datetime] [datetime] NULL,
	[Archive_Action] [varchar](10) NULL,
	[Archive_Rel_Path] [nvarchar](500) NULL,
	[Rejected_Rel_Path] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Source_Import_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Dim_Source_Imports_Last_Checked]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Dim_Source_Imports_Last_Checked](
	[Source_Name] [varchar](100) NOT NULL,
	[Last_Checked_Datetime] [datetime] NULL,
	[Inserted_Datetime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Source_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Dim_Source_Imports_Mapping]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Dim_Source_Imports_Mapping](
	[File_Mapping_SK] [int] IDENTITY(1,1) NOT NULL,
	[Source_Import_SK] [int] NOT NULL,
	[Source_Name] [varchar](100) NULL,
	[Source_Column] [varchar](100) NULL,
	[Target_Column] [varchar](100) NULL,
	[Data_Type] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[Is_Deleted] [bit] NOT NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
	[Updated_Datetime] [datetime] NULL,
	[Is_Type2_Attribute] [bit] NOT NULL,
	[Is_PK] [bit] NOT NULL,
	[Is_Required] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[File_Mapping_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Fact_Audit_Source_Imports]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Fact_Audit_Source_Imports](
	[Audit_Source_Import_SK] [int] IDENTITY(1,1) NOT NULL,
	[Source_Import_SK] [int] NOT NULL,
	[Start_Time] [datetime] NOT NULL,
	[End_Time] [datetime] NULL,
	[Total_Row_Count] [int] NULL,
	[Total_File_Count] [int] NULL,
	[Exception_Detail] [varchar](4000) NULL,
	[Pattern] [varchar](100) NULL,
	[Process_Status] [varchar](50) NOT NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Audit_Source_Import_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Fact_ETL_Errors]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Fact_ETL_Errors](
	[ETL_Error_SK] [int] IDENTITY(1,1) NOT NULL,
	[Procedure_Name] [nvarchar](128) NOT NULL,
	[Error_Message] [nvarchar](max) NOT NULL,
	[Error_Number] [int] NULL,
	[Error_State] [int] NULL,
	[Error_Line] [int] NULL,
	[Error_Severity] [int] NULL,
	[Error_Time] [datetime] NOT NULL,
	[Source_Import_SK] [int] NULL,
	[Audit_Source_Import_SK] [int] NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ETL_Error_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Fact_Source_File_Archive]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Fact_Source_File_Archive](
	[Source_File_Archive_SK] [int] IDENTITY(1,1) NOT NULL,
	[Audit_Source_Import_SK] [int] NOT NULL,
	[Source_Import_SK] [int] NOT NULL,
	[Original_File_Name] [varchar](255) NOT NULL,
	[Archive_File_Name] [varchar](255) NOT NULL,
	[Archive_Full_Path] [varchar](1000) NOT NULL,
	[File_Row_Count] [int] NULL,
	[Process_Status] [varchar](100) NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
	[Inserted_By] [nvarchar](128) NULL,
 CONSTRAINT [PK_Bridge_Audit_File_Archive] PRIMARY KEY CLUSTERED 
(
	[Source_File_Archive_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Source_File_Mapping]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Source_File_Mapping](
	[Source_Name] [varchar](100) NOT NULL,
	[Source_Column] [varchar](100) NULL,
	[Target_Column] [varchar](100) NULL,
	[Data_Type] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
	[Is_Type2_Attribute] [bit] NULL,
	[Is_PK] [bit] NULL,
	[Inserted_Datetime] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Source_Imports]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Source_Imports](
	[Source_Name] [varchar](100) NOT NULL,
	[Rel_Path] [varchar](500) NULL,
	[Pattern] [varchar](100) NULL,
	[Sheet_Name] [varchar](100) NULL,
	[Staging_Table] [varchar](100) NULL,
	[Processing_Order] [varchar](50) NULL,
	[Is_Active] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Source_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[Brands]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[Brands](
	[Principal_Code] [varchar](500) NOT NULL,
	[Brand_Code] [varchar](500) NOT NULL,
	[Brand_Name] [varchar](500) NOT NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Principal_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[Principals]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[Principals](
	[Principal_Code] [varchar](500) NOT NULL,
	[Principal_Name] [varchar](500) NULL,
	[Principal_Trading_As_Name] [varchar](500) NULL,
	[Principal_Address] [varchar](500) NULL,
	[Principal_City] [varchar](500) NULL,
	[Principal_Province] [varchar](500) NULL,
	[Principal_Country] [varchar](500) NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Principal_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ETL_Errors_Procedure_Time]    Script Date: 2026/03/01 19:00:34 ******/
CREATE NONCLUSTERED INDEX [IX_ETL_Errors_Procedure_Time] ON [ETL].[Fact_ETL_Errors]
(
	[Procedure_Name] ASC,
	[Error_Time] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [DW].[Dim_Brands] ADD  CONSTRAINT [DF_Dim_Brands_Inserted]  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [DW].[Dim_Principals] ADD  CONSTRAINT [DF_Dim_Principals_Row_Is_Current]  DEFAULT ((1)) FOR [Row_Is_Current]
GO
ALTER TABLE [DW].[Dim_Principals] ADD  CONSTRAINT [DF_Dim_Principals_Row_Eff]  DEFAULT (getdate()) FOR [Row_Effective_Datetime]
GO
ALTER TABLE [DW].[Dim_Principals] ADD  CONSTRAINT [DF_Dim_Principals_Inserted]  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ETL].[Dim_Source_Imports] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [ETL].[Dim_Source_Imports] ADD  DEFAULT ((0)) FOR [Is_Deleted]
GO
ALTER TABLE [ETL].[Dim_Source_Imports] ADD  DEFAULT ('COPY') FOR [Archive_Action]
GO
ALTER TABLE [ETL].[Dim_Source_Imports_Last_Checked] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ETL].[Dim_Source_Imports_Mapping] ADD  DEFAULT ((0)) FOR [Is_Deleted]
GO
ALTER TABLE [ETL].[Dim_Source_Imports_Mapping] ADD  DEFAULT ((0)) FOR [Is_Type2_Attribute]
GO
ALTER TABLE [ETL].[Dim_Source_Imports_Mapping] ADD  DEFAULT ((0)) FOR [Is_PK]
GO
ALTER TABLE [ETL].[Dim_Source_Imports_Mapping] ADD  DEFAULT ((0)) FOR [Is_Required]
GO
ALTER TABLE [ETL].[Fact_Audit_Source_Imports] ADD  DEFAULT ('Success') FOR [Process_Status]
GO
ALTER TABLE [ETL].[Fact_Audit_Source_Imports] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ETL].[Fact_ETL_Errors] ADD  DEFAULT (getdate()) FOR [Error_Time]
GO
ALTER TABLE [ETL].[Fact_ETL_Errors] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ETL].[Fact_Source_File_Archive] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ETL].[Source_File_Mapping] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ETL].[Source_Imports] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ODS].[Brands] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ODS].[Principals] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ETL].[Fact_Source_File_Archive]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Source_File_Archive_Audit] FOREIGN KEY([Audit_Source_Import_SK])
REFERENCES [ETL].[Fact_Audit_Source_Imports] ([Audit_Source_Import_SK])
GO
ALTER TABLE [ETL].[Fact_Source_File_Archive] CHECK CONSTRAINT [FK_Fact_Source_File_Archive_Audit]
GO
/****** Object:  StoredProcedure [DW].[SP_Ensure_Dim_Principals_From_Mapping]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [DW].[SP_Ensure_Dim_Principals_From_Mapping]
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE 
        @ProcName SYSNAME = N'DW.SP_Ensure_Dim_Principals_From_Mapping';

    BEGIN TRY
        ----------------------------------------------------------------------
        -- Ensure DW.Dim_Principals exists (idempotent safety)
        ----------------------------------------------------------------------
        IF NOT EXISTS (
            SELECT 1
            FROM sys.tables t
            JOIN sys.schemas s ON s.schema_id = t.schema_id
            WHERE s.name = 'DW' AND t.name = 'Dim_Principals'
        )
        BEGIN
            EXEC ('CREATE TABLE DW.Dim_Principals
            (
                Principal_SK           INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_Dim_Principals PRIMARY KEY,
                Row_Is_Current         BIT             NOT NULL CONSTRAINT DF_Dim_Principals_Row_Is_Current DEFAULT (1),
                Row_Effective_Datetime DATETIME        NOT NULL CONSTRAINT DF_Dim_Principals_Row_Eff DEFAULT (GETDATE()),
                Row_Expiry_Datetime    DATETIME        NULL,
                Inserted_Datetime      DATETIME        NOT NULL CONSTRAINT DF_Dim_Principals_Inserted DEFAULT (GETDATE()),
                Updated_Datetime       DATETIME        NULL
            );');
        END;

        ----------------------------------------------------------------------
        -- Add any missing business columns based on Dim_Source_Imports_Mapping
        ----------------------------------------------------------------------
        ;WITH MappingCols AS (
            SELECT DISTINCT
                   m.Target_Column,
                   m.Data_Type
            FROM ETL.Dim_Source_Imports_Mapping m
            WHERE m.Source_Name = 'Principals'
              AND m.Is_Deleted = 0
              AND m.Target_Column IS NOT NULL
              AND m.Data_Type IS NOT NULL
        )
        SELECT mc.Target_Column,
               mc.Data_Type
        INTO #ColsToEnsure
        FROM MappingCols mc;

        DECLARE 
            @TargetColumn SYSNAME,
            @DataType     NVARCHAR(100),
            @Sql          NVARCHAR(MAX);

        DECLARE col_cursor CURSOR LOCAL FAST_FORWARD FOR
            SELECT Target_Column, Data_Type
            FROM #ColsToEnsure
            WHERE Target_Column NOT IN (
                SELECT c.name
                FROM sys.columns c
                JOIN sys.tables t ON t.object_id = c.object_id
                JOIN sys.schemas s ON s.schema_id = t.schema_id
                WHERE s.name = 'DW' AND t.name = 'Dim_Principals'
            );

        OPEN col_cursor;
        FETCH NEXT FROM col_cursor INTO @TargetColumn, @DataType;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @Sql = N'ALTER TABLE DW.Dim_Principals ADD '
                     + QUOTENAME(@TargetColumn) + N' ' + @DataType + N' NULL;';
            EXEC (@Sql);

            FETCH NEXT FROM col_cursor INTO @TargetColumn, @DataType;
        END;

        CLOSE col_cursor;
        DEALLOCATE col_cursor;

        DROP TABLE #ColsToEnsure;
    END TRY
    BEGIN CATCH
        DECLARE 
            @ErrorMessage   NVARCHAR(MAX) = ERROR_MESSAGE(),
            @ErrorNumber    INT           = ERROR_NUMBER(),
            @ErrorState     INT           = ERROR_STATE(),
            @ErrorLine      INT           = ERROR_LINE(),
            @ErrorSeverity  INT           = ERROR_SEVERITY();

        EXEC ETL.SP_Log_ETL_Error
            @Procedure_Name         = @ProcName,
            @Error_Message          = @ErrorMessage,
            @Error_Number           = @ErrorNumber,
            @Error_State            = @ErrorState,
            @Error_Line             = @ErrorLine,
            @Error_Severity         = @ErrorSeverity,
            @Source_Import_SK       = NULL,
            @Audit_Source_Import_SK = NULL;

        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [DW].[SP_Merge_Dim_Brands]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Merge proc for Brands -> DW.Dim_Brands
-- Generated at 2026-03-01 12:47:25

CREATE   PROCEDURE [DW].[SP_Merge_Dim_Brands]
    @Source_Import_SK       INT = NULL,
    @Audit_Source_Import_SK INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ProcName SYSNAME = N'DW.SP_Merge_Dim_Brands';

    BEGIN TRY

        -- Type 1: UPDATE changed attributes
        UPDATE d SET
            d.[Brand_Name] = o.[Brand_Name],
            d.Updated_Datetime = GETDATE()
        FROM [DW].[Dim_Brands] d
        INNER JOIN [ODS].[Brands] o ON d.[Principal_Code] = o.[Principal_Code] AND d.[Brand_Code] = o.[Brand_Code]
        WHERE (COALESCE(d.[Brand_Name], '') <> COALESCE(o.[Brand_Name], ''));

        -- INSERT new dimension rows
        INSERT INTO [DW].[Dim_Brands] ([Principal_Code], [Brand_Code], [Brand_Name], [Inserted_Datetime], [Updated_Datetime])
        SELECT o.[Principal_Code], o.[Brand_Code], o.[Brand_Name], GETDATE(), NULL
        FROM [ODS].[Brands] o
        WHERE NOT EXISTS (SELECT 1 FROM [DW].[Dim_Brands] d WHERE d.[Principal_Code] = o.[Principal_Code] AND d.[Brand_Code] = o.[Brand_Code]);

    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(MAX) = ERROR_MESSAGE(), @ErrNum INT = ERROR_NUMBER(),
                @ErrState INT = ERROR_STATE(), @ErrLine INT = ERROR_LINE(), @ErrSev INT = ERROR_SEVERITY();
        EXEC ETL.SP_Log_ETL_Error @Procedure_Name = @ProcName, @Error_Message = @ErrMsg,
            @Error_Number = @ErrNum, @Error_State = @ErrState, @Error_Line = @ErrLine, @Error_Severity = @ErrSev,
            @Source_Import_SK = @Source_Import_SK, @Audit_Source_Import_SK = @Audit_Source_Import_SK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [DW].[SP_Merge_Dim_Principals]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Merge proc for Principals -> DW.Dim_Principals
-- Generated at 2026-03-01 12:47:25

CREATE   PROCEDURE [DW].[SP_Merge_Dim_Principals]
    @Source_Import_SK       INT = NULL,
    @Audit_Source_Import_SK INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ProcName SYSNAME = N'DW.SP_Merge_Dim_Principals';

    BEGIN TRY

        -- Type 1: UPDATE changed attributes
        UPDATE d SET
            d.[Principal_Name] = o.[Principal_Name], d.[Principal_Trading_As_Name] = o.[Principal_Trading_As_Name], d.[Principal_Address] = o.[Principal_Address], d.[Principal_City] = o.[Principal_City], d.[Principal_Province] = o.[Principal_Province], d.[Principal_Country] = o.[Principal_Country],
            d.Updated_Datetime = GETDATE()
        FROM [DW].[Dim_Principals] d
        INNER JOIN [ODS].[Principals] o ON d.[Principal_Code] = o.[Principal_Code]
        WHERE (COALESCE(d.[Principal_Name], '') <> COALESCE(o.[Principal_Name], '') OR COALESCE(d.[Principal_Trading_As_Name], '') <> COALESCE(o.[Principal_Trading_As_Name], '') OR COALESCE(d.[Principal_Address], '') <> COALESCE(o.[Principal_Address], '') OR COALESCE(d.[Principal_City], '') <> COALESCE(o.[Principal_City], '') OR COALESCE(d.[Principal_Province], '') <> COALESCE(o.[Principal_Province], '') OR COALESCE(d.[Principal_Country], '') <> COALESCE(o.[Principal_Country], ''));

        -- INSERT new dimension rows
        INSERT INTO [DW].[Dim_Principals] ([Principal_Code], [Principal_Name], [Principal_Trading_As_Name], [Principal_Address], [Principal_City], [Principal_Province], [Principal_Country], [Inserted_Datetime], [Updated_Datetime])
        SELECT o.[Principal_Code], o.[Principal_Name], o.[Principal_Trading_As_Name], o.[Principal_Address], o.[Principal_City], o.[Principal_Province], o.[Principal_Country], GETDATE(), NULL
        FROM [ODS].[Principals] o
        WHERE NOT EXISTS (SELECT 1 FROM [DW].[Dim_Principals] d WHERE d.[Principal_Code] = o.[Principal_Code]);

    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(MAX) = ERROR_MESSAGE(), @ErrNum INT = ERROR_NUMBER(),
                @ErrState INT = ERROR_STATE(), @ErrLine INT = ERROR_LINE(), @ErrSev INT = ERROR_SEVERITY();
        EXEC ETL.SP_Log_ETL_Error @Procedure_Name = @ProcName, @Error_Message = @ErrMsg,
            @Error_Number = @ErrNum, @Error_State = @ErrState, @Error_Line = @ErrLine, @Error_Severity = @ErrSev,
            @Source_Import_SK = @Source_Import_SK, @Audit_Source_Import_SK = @Audit_Source_Import_SK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Get_Source_Import_Config]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Returns config row as result set
CREATE   PROCEDURE [ETL].[SP_Get_Source_Import_Config]
    @Source_Name VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Rel_Path,
        Pattern,
        Sheet_Name,
        Staging_Table
    FROM ETL.Dim_Source_Imports
    WHERE Source_Name = @Source_Name
      AND Is_Active = 1
      AND Is_Deleted = 0;
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Get_Source_Import_Mapping]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Returns mapping rows as result set
CREATE   PROCEDURE [ETL].[SP_Get_Source_Import_Mapping]
    @Source_Name VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Source_Column,
        Target_Column
    FROM ETL.Dim_Source_Imports_Mapping
    WHERE Source_Name = @Source_Name
      AND Is_Deleted = 0;
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Get_Source_Import_SK]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ETL].[SP_Get_Source_Import_SK]
    @Source_Name VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Source_Import_SK
    FROM ETL.Dim_Source_Imports
    WHERE Source_Name = @Source_Name;
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Insert_Bridge_Audit_File_Archive]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ETL].[SP_Insert_Bridge_Audit_File_Archive]
    @Audit_Source_Import_SK     INT,
    @Source_File_Archive_SK     INT,
    @Caller_Source_Import_SK    INT = NULL,
    @Caller_Audit_Source_Import_SK INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        INSERT INTO [ETL].[Bridge_Audit_File_Archive] (
            Audit_Source_Import_SK,
            Source_File_Archive_SK
        ) VALUES (
            @Audit_Source_Import_SK,
            @Source_File_Archive_SK
        );
    END TRY
    BEGIN CATCH
        DECLARE 
            @ErrorMessage   NVARCHAR(MAX) = ERROR_MESSAGE(),
            @ErrorNumber    INT           = ERROR_NUMBER(),
            @ErrorState     INT           = ERROR_STATE(),
            @ErrorLine      INT           = ERROR_LINE(),
            @ErrorSeverity  INT           = ERROR_SEVERITY();

        EXEC [ETL].[SP_Log_ETL_Error]
            @Procedure_Name         = N'SP_Insert_Bridge_Audit_File_Archive',
            @Error_Message          = @ErrorMessage,
            @Error_Number           = @ErrorNumber,
            @Error_State            = @ErrorState,
            @Error_Line             = @ErrorLine,
            @Error_Severity         = @ErrorSeverity,
            @Source_Import_SK       = @Caller_Source_Import_SK,
            @Audit_Source_Import_SK = @Caller_Audit_Source_Import_SK;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Insert_Source_File_Archive]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ETL].[SP_Insert_Source_File_Archive]
    @Audit_Source_Import_SK     INT,
    @Source_Import_SK           INT,
    @Original_File_Name         VARCHAR(255),
    @Archive_File_Name          VARCHAR(255),
    @Archive_Full_Path          VARCHAR(1000),
    @File_Row_Count             INT             = NULL,
    @Process_Status             VARCHAR(50)     = 'Success',
    @Source_File_Archive_SK     INT             OUTPUT,
    -- Optional context parameters for error logging
    @Caller_Source_Import_SK    INT             = NULL,
    @Caller_Audit_Source_Import_SK INT          = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        -- Insert the record
        INSERT INTO [ETL].[Fact_Source_File_Archive] (
            Audit_Source_Import_SK,
            Source_Import_SK,
            Original_File_Name,
            Archive_File_Name,
            Archive_Full_Path,
            File_Row_Count,
            Process_Status,
            Inserted_By
        )
        VALUES (
            @Audit_Source_Import_SK,
            @Source_Import_SK,
            @Original_File_Name,
            @Archive_File_Name,
            @Archive_Full_Path,
            @File_Row_Count,
            @Process_Status,
            SUSER_SNAME()             -- Inserted_By
        );

        -- Return the new identity value
        SET @Source_File_Archive_SK = SCOPE_IDENTITY();

    END TRY
    BEGIN CATCH
        DECLARE 
            @ErrorMessage   NVARCHAR(MAX) = ERROR_MESSAGE(),
            @ErrorNumber    INT           = ERROR_NUMBER(),
            @ErrorState     INT           = ERROR_STATE(),
            @ErrorLine      INT           = ERROR_LINE(),
            @ErrorSeverity  INT           = ERROR_SEVERITY();

        -- Log error centrally
        EXEC [ETL].[SP_Log_ETL_Error]
            @Procedure_Name             = N'SP_Insert_Source_File_Archive',
            @Error_Message              = @ErrorMessage,
            @Error_Number               = @ErrorNumber,
            @Error_State                = @ErrorState,
            @Error_Line                 = @ErrorLine,
            @Error_Severity             = @ErrorSeverity,
            @Source_Import_SK           = @Caller_Source_Import_SK,
            @Audit_Source_Import_SK     = @Caller_Audit_Source_Import_SK;

        -- Re-throw the original error
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Log_Audit_Source_Import_Insert]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Audit insert (returns ID)
CREATE   PROCEDURE [ETL].[SP_Log_Audit_Source_Import_Insert]
    @Source_Import_SK INT,
    @Start_Time DATETIME,
    @Audit_Source_Import_SK INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO ETL.Fact_Audit_Source_Imports (
        Source_Import_SK,
        Start_Time,
        Process_Status
    ) VALUES (
        @Source_Import_SK,
        @Start_Time,
        'Started'
    );

    SET @Audit_Source_Import_SK = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Log_Audit_Source_Import_Update]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Audit update (full)
CREATE   PROCEDURE [ETL].[SP_Log_Audit_Source_Import_Update]
    @Audit_Source_Import_SK     INT,
    @End_Time                   DATETIME = NULL,
    @Total_Row_Count            INT = 0,
    @Total_File_Count           INT = 0,
    @Exception_Detail           VARCHAR(4000) = NULL,
    @Pattern                    VARCHAR(100) = NULL,
    @Process_Status             VARCHAR(50) = 'Success'
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ETL.Fact_Audit_Source_Imports
    SET 
        End_Time           = @End_Time,
        Total_Row_Count    = @Total_Row_Count,
        Total_File_Count   = @Total_File_Count,
        Exception_Detail   = @Exception_Detail,
        Pattern            = @Pattern,
        Process_Status     = @Process_Status
    WHERE Audit_Source_Import_SK = @Audit_Source_Import_SK;
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Log_ETL_Error]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ETL].[SP_Log_ETL_Error]
    @Procedure_Name           NVARCHAR(128),
    @Error_Message            NVARCHAR(MAX),
    @Error_Number             INT = NULL,
    @Error_State              INT = NULL,
    @Error_Line               INT = NULL,
    @Error_Severity           INT = NULL,
    @Source_Import_SK         INT = NULL,
    @Audit_Source_Import_SK   INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO ETL.Fact_ETL_Errors (
        Procedure_Name,
        Error_Message,
        Error_Number,
        Error_State,
        Error_Line,
        Error_Severity,
        Source_Import_SK,
        Audit_Source_Import_SK
    )
    VALUES (
        @Procedure_Name,
        @Error_Message,
        @Error_Number,
        @Error_State,
        @Error_Line,
        @Error_Severity,
        @Source_Import_SK,
        @Audit_Source_Import_SK
    );
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Merge_Dim_Source_Imports]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Merge proc for Source_Imports -> ETL.Dim_Source_Imports
-- Generated at 2026-03-01 12:47:25

CREATE   PROCEDURE [ETL].[SP_Merge_Dim_Source_Imports]
    @Source_Import_SK       INT = NULL,
    @Audit_Source_Import_SK INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ProcName SYSNAME = N'ETL.SP_Merge_Dim_Source_Imports';

    BEGIN TRY

        -- Type 1: UPDATE changed attributes
        UPDATE d SET
            d.[Rel_Path] = o.[Rel_Path], d.[Pattern] = o.[Pattern], d.[Sheet_Name] = o.[Sheet_Name], d.[Staging_Table] = o.[Staging_Table], d.[Processing_Order] = o.[Processing_Order], d.[Is_Active] = o.[Is_Active], d.[Description] = o.[Description],
            d.Updated_Datetime = GETDATE()
        FROM [ETL].[Dim_Source_Imports] d
        INNER JOIN [ETL].[Source_Imports] o ON d.[Source_Name] = o.[Source_Name]
        WHERE (COALESCE(d.[Rel_Path], '') <> COALESCE(o.[Rel_Path], '') OR COALESCE(d.[Pattern], '') <> COALESCE(o.[Pattern], '') OR COALESCE(d.[Sheet_Name], '') <> COALESCE(o.[Sheet_Name], '') OR COALESCE(d.[Staging_Table], '') <> COALESCE(o.[Staging_Table], '') OR COALESCE(d.[Processing_Order], '') <> COALESCE(o.[Processing_Order], '') OR COALESCE(d.[Is_Active], '') <> COALESCE(o.[Is_Active], '') OR COALESCE(d.[Description], '') <> COALESCE(o.[Description], ''));

        -- INSERT new dimension rows
        INSERT INTO [ETL].[Dim_Source_Imports] ([Source_Name], [Rel_Path], [Pattern], [Sheet_Name], [Staging_Table], [Processing_Order], [Is_Active], [Description], [Inserted_Datetime], [Updated_Datetime])
        SELECT o.[Source_Name], o.[Rel_Path], o.[Pattern], o.[Sheet_Name], o.[Staging_Table], o.[Processing_Order], o.[Is_Active], o.[Description], GETDATE(), NULL
        FROM [ETL].[Source_Imports] o
        WHERE NOT EXISTS (SELECT 1 FROM [ETL].[Dim_Source_Imports] d WHERE d.[Source_Name] = o.[Source_Name]);

        -- SOFT-DELETE: mark rows no longer in staging
        UPDATE d SET d.Is_Deleted = 1, d.Updated_Datetime = GETDATE()
        FROM [ETL].[Dim_Source_Imports] d
        LEFT JOIN [ETL].[Source_Imports] o ON d.[Source_Name] = o.[Source_Name]
        WHERE o.Source_Name IS NULL AND d.Is_Deleted = 0;

        -- RE-ACTIVATE: rows that reappear in staging
        UPDATE d SET d.Is_Deleted = 0, d.Updated_Datetime = GETDATE()
        FROM [ETL].[Dim_Source_Imports] d
        INNER JOIN [ETL].[Source_Imports] o ON d.[Source_Name] = o.[Source_Name]
        WHERE d.Is_Deleted = 1;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(MAX) = ERROR_MESSAGE(), @ErrNum INT = ERROR_NUMBER(),
                @ErrState INT = ERROR_STATE(), @ErrLine INT = ERROR_LINE(), @ErrSev INT = ERROR_SEVERITY();
        EXEC ETL.SP_Log_ETL_Error @Procedure_Name = @ProcName, @Error_Message = @ErrMsg,
            @Error_Number = @ErrNum, @Error_State = @ErrState, @Error_Line = @ErrLine, @Error_Severity = @ErrSev,
            @Source_Import_SK = @Source_Import_SK, @Audit_Source_Import_SK = @Audit_Source_Import_SK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Merge_Dim_Source_Imports_Mapping]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update merge proc to include new columns
CREATE   PROCEDURE [ETL].[SP_Merge_Dim_Source_Imports_Mapping]
    @Source_Import_SK       INT = NULL,
    @Audit_Source_Import_SK INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        DECLARE @Datetime DATETIME = GETDATE();

        -- Step 1: UPDATE existing records when any attribute changed
        UPDATE d
        SET
            d.Target_Column       = s.Target_Column,
            d.Data_Type           = s.Data_Type,
            d.Description         = s.Description,
            d.Is_Type2_Attribute  = COALESCE(s.Is_Type2_Attribute, 0),
            d.Is_PK               = COALESCE(s.Is_PK, 0),
            d.Updated_Datetime    = @Datetime
        FROM ETL.Dim_Source_Imports_Mapping d
        INNER JOIN ETL.Source_File_Mapping s
            ON d.Source_Name    = s.Source_Name
           AND d.Source_Column  = s.Source_Column
        WHERE
            (   d.Target_Column       <> s.Target_Column       OR (d.Target_Column IS NULL AND s.Target_Column IS NOT NULL) OR (d.Target_Column IS NOT NULL AND s.Target_Column IS NULL) OR
                d.Data_Type           <> s.Data_Type           OR (d.Data_Type IS NULL AND s.Data_Type IS NOT NULL) OR (d.Data_Type IS NOT NULL AND s.Data_Type IS NULL) OR
                d.Description         <> s.Description         OR (d.Description IS NULL AND s.Description IS NOT NULL) OR (d.Description IS NOT NULL AND s.Description IS NULL) OR
                COALESCE(d.Is_Type2_Attribute, 0) <> COALESCE(s.Is_Type2_Attribute, 0) OR
                COALESCE(d.Is_PK, 0)            <> COALESCE(s.Is_PK, 0)
            );

        -- Step 2: INSERT new records
        INSERT INTO ETL.Dim_Source_Imports_Mapping (
            Source_Import_SK, Source_Name, Source_Column, Target_Column,
            Data_Type, Description, Is_Type2_Attribute, Is_PK,
            Inserted_Datetime, Updated_Datetime
        )
        SELECT
            dsi.Source_Import_SK, s.Source_Name, s.Source_Column, s.Target_Column,
            s.Data_Type, s.Description,
            COALESCE(s.Is_Type2_Attribute, 0), COALESCE(s.Is_PK, 0),
            @Datetime, NULL
        FROM ETL.Source_File_Mapping s
        LEFT JOIN ETL.Dim_Source_Imports_Mapping d
            ON d.Source_Name = s.Source_Name AND d.Source_Column = s.Source_Column
        INNER JOIN ETL.Dim_Source_Imports dsi ON dsi.Source_Name = s.Source_Name
        WHERE d.File_Mapping_SK IS NULL;

        -- Step 3: SOFT-DELETE missing records
        UPDATE d SET d.Is_Deleted = 1, d.Updated_Datetime = @Datetime
        FROM ETL.Dim_Source_Imports_Mapping d
        LEFT JOIN ETL.Source_File_Mapping s ON d.Source_Name = s.Source_Name AND d.Source_Column = s.Source_Column
        WHERE s.Source_Name IS NULL AND d.Is_Deleted = 0;

        -- Step 4: RE-ACTIVATE previously deleted records
        UPDATE d SET d.Is_Deleted = 0, d.Updated_Datetime = @Datetime
        FROM ETL.Dim_Source_Imports_Mapping d
        INNER JOIN ETL.Source_File_Mapping s ON d.Source_Name = s.Source_Name AND d.Source_Column = s.Source_Column
        WHERE d.Is_Deleted = 1;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX) = ERROR_MESSAGE(),
                @ErrorNumber INT = ERROR_NUMBER(),
                @ErrorState INT = ERROR_STATE(),
                @ErrorLine INT = ERROR_LINE(),
                @ErrorSeverity INT = ERROR_SEVERITY();
        EXEC ETL.SP_Log_ETL_Error
            @Procedure_Name = N'SP_Merge_Dim_Source_Imports_Mapping',
            @Error_Message = @ErrorMessage, @Error_Number = @ErrorNumber,
            @Error_State = @ErrorState, @Error_Line = @ErrorLine, @Error_Severity = @ErrorSeverity,
            @Source_Import_SK = @Source_Import_SK, @Audit_Source_Import_SK = @Audit_Source_Import_SK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Truncate_Staging_Table]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ETL].[SP_Truncate_Staging_Table]
    @TableName              VARCHAR(128),
    @Source_Import_SK       INT           = NULL,
    @Audit_Source_Import_SK INT           = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        DECLARE @SQL NVARCHAR(MAX) = N'TRUNCATE TABLE ' + QUOTENAME(@TableName);
        EXEC sp_executesql @SQL;
    END TRY
    BEGIN CATCH
        DECLARE 
            @ErrorMessage   NVARCHAR(MAX) = ERROR_MESSAGE(),
            @ErrorNumber    INT           = ERROR_NUMBER(),
            @ErrorState     INT           = ERROR_STATE(),
            @ErrorLine      INT           = ERROR_LINE(),
            @ErrorSeverity  INT           = ERROR_SEVERITY();

        EXEC ETL.SP_Log_ETL_Error
            @Procedure_Name         = N'SP_Truncate_Staging_Table',
            @Error_Message          = @ErrorMessage,
            @Error_Number           = @ErrorNumber,
            @Error_State            = @ErrorState,
            @Error_Line             = @ErrorLine,
            @Error_Severity         = @ErrorSeverity,
            @Source_Import_SK       = @Source_Import_SK,
            @Audit_Source_Import_SK = @Audit_Source_Import_SK;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Update_Source_Imports_Last_Checked]    Script Date: 2026/03/01 19:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ETL].[SP_Update_Source_Imports_Last_Checked]
    @SourceName VARCHAR(100),
    @LastChecked DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF EXISTS (SELECT 1 FROM [ETL].[Dim_Source_Imports_Last_Checked] WHERE Source_Name = @SourceName)
        BEGIN
            UPDATE [ETL].[Dim_Source_Imports_Last_Checked]
            SET Last_Checked_Datetime = @LastChecked
            WHERE Source_Name = @SourceName;
        END
        ELSE
        BEGIN
            INSERT INTO [ETL].[Dim_Source_Imports_Last_Checked] (Source_Name, Last_Checked_Datetime)
            VALUES (@SourceName, @LastChecked);
        END
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        EXEC [ETL].[SP_Log_ETL_Error]
            @ErrorMessage = @ErrorMessage,
            @ErrorSeverity = @ErrorSeverity,
            @ErrorState = @ErrorState;
            
        THROW;
    END CATCH
END;
GO
USE [master]
GO
