USE [master]
GO
/****** Object:  Database [SISRI]    Script Date: 2026/02/26 15:53:55 ******/
CREATE DATABASE [SISRI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SISRI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SISRI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SISRI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SISRI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SISRI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SISRI]
GO
/****** Object:  User [etl_user]    Script Date: 2026/02/26 15:53:55 ******/
CREATE USER [etl_user] FOR LOGIN [etl_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [etl_user]
GO
/****** Object:  Schema [ETL]    Script Date: 2026/02/26 15:53:55 ******/
CREATE SCHEMA [ETL]
GO
/****** Object:  Schema [ODS]    Script Date: 2026/02/26 15:53:55 ******/
CREATE SCHEMA [ODS]
GO
/****** Object:  Table [ETL].[Dim_Source_Imports]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Dim_Source_Imports](
	[Source_Import_SK] [int] IDENTITY(1,1) NOT NULL,
	[Source_Name] [varchar](100) NOT NULL,
	[Rel_Path] [varchar](500) NULL,
	[Pattern] [varchar](100) NULL,
	[Sheet_Name] [varchar](100) NULL,
	[Staging_Table] [varchar](100) NULL,
	[Processing_Order] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
	[Is_Active] [bit] NOT NULL,
	[Is_Deleted] [bit] NOT NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
	[Updated_Datetime] [datetime] NULL,
	[Archive_Action] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Source_Import_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Dim_Source_Imports_Mapping]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Dim_Source_Imports_Mapping](
	[File_Mapping_SK] [int] IDENTITY(1,1) NOT NULL,
	[Source_Import_SK] [int] NOT NULL,
	[Source_Name] [varchar](100) NULL,
	[Source_Column] [varchar](100) NULL,
	[Target_Column] [varchar](100) NULL,
	[Data_Type] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[Is_Deleted] [bit] NOT NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
	[Updated_Datetime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[File_Mapping_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Fact_Audit_Source_Imports]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Fact_Audit_Source_Imports](
	[Audit_Source_Import_SK] [int] IDENTITY(1,1) NOT NULL,
	[Source_Import_SK] [int] NOT NULL,
	[Start_Time] [datetime] NOT NULL,
	[End_Time] [datetime] NULL,
	[Total_Row_Count] [int] NULL,
	[Total_File_Count] [int] NULL,
	[Exception_Detail] [varchar](4000) NULL,
	[Pattern] [varchar](100) NULL,
	[Process_Status] [varchar](50) NOT NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Audit_Source_Import_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Fact_ETL_Errors]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Fact_ETL_Errors](
	[ETL_Error_SK] [int] IDENTITY(1,1) NOT NULL,
	[Procedure_Name] [nvarchar](128) NOT NULL,
	[Error_Message] [nvarchar](max) NOT NULL,
	[Error_Number] [int] NULL,
	[Error_State] [int] NULL,
	[Error_Line] [int] NULL,
	[Error_Severity] [int] NULL,
	[Error_Time] [datetime] NOT NULL,
	[Source_Import_SK] [int] NULL,
	[Audit_Source_Import_SK] [int] NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ETL_Error_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Fact_Source_File_Archive]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Fact_Source_File_Archive](
	[Source_File_Archive_SK] [int] IDENTITY(1,1) NOT NULL,
	[Audit_Source_Import_SK] [int] NOT NULL,
	[Source_Import_SK] [int] NOT NULL,
	[Original_File_Name] [varchar](255) NOT NULL,
	[Archive_File_Name] [varchar](255) NOT NULL,
	[Archive_Full_Path] [varchar](1000) NOT NULL,
	[File_Row_Count] [int] NULL,
	[Start_Time] [datetime] NOT NULL,
	[End_Time] [datetime] NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
	[Inserted_By] [nvarchar](128) NULL,
 CONSTRAINT [PK_Bridge_Audit_File_Archive] PRIMARY KEY CLUSTERED 
(
	[Source_File_Archive_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Source_File_Mapping]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Source_File_Mapping](
	[Source_Name] [varchar](100) NOT NULL,
	[Source_Column] [varchar](100) NULL,
	[Target_Column] [varchar](100) NULL,
	[Data_Type] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
	[Inserted_Datetime] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ETL].[Source_Imports]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Source_Imports](
	[Source_Name] [varchar](100) NOT NULL,
	[Rel_Path] [varchar](500) NULL,
	[Pattern] [varchar](100) NULL,
	[Sheet_Name] [varchar](100) NULL,
	[Staging_Table] [varchar](100) NULL,
	[Processing_Order] [varchar](50) NULL,
	[Is_Active] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
	[Inserted_Datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Source_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[Principals]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[Principals](
	[Principal_Code] [varchar](500) NULL,
	[Principal_Name] [varchar](500) NULL,
	[Principal_Trading_As_Name] [varchar](500) NULL,
	[Principal_Address] [varchar](500) NULL,
	[Principal_City] [varchar](500) NULL,
	[Principal_Province] [varchar](500) NULL,
	[Principal_Country] [varchar](500) NULL,
	[Inserted_Datetime] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ETL_Errors_Procedure_Time]    Script Date: 2026/02/26 15:53:55 ******/
CREATE NONCLUSTERED INDEX [IX_ETL_Errors_Procedure_Time] ON [ETL].[Fact_ETL_Errors]
(
	[Procedure_Name] ASC,
	[Error_Time] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ETL].[Dim_Source_Imports] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [ETL].[Dim_Source_Imports] ADD  DEFAULT ((0)) FOR [Is_Deleted]
GO
ALTER TABLE [ETL].[Dim_Source_Imports] ADD  DEFAULT ('COPY') FOR [Archive_Action]
GO
ALTER TABLE [ETL].[Dim_Source_Imports_Mapping] ADD  DEFAULT ((0)) FOR [Is_Deleted]
GO
ALTER TABLE [ETL].[Fact_Audit_Source_Imports] ADD  DEFAULT ('Success') FOR [Process_Status]
GO
ALTER TABLE [ETL].[Fact_Audit_Source_Imports] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ETL].[Fact_ETL_Errors] ADD  DEFAULT (getdate()) FOR [Error_Time]
GO
ALTER TABLE [ETL].[Fact_ETL_Errors] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ETL].[Fact_Source_File_Archive] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ETL].[Source_File_Mapping] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ETL].[Source_Imports] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
ALTER TABLE [ODS].[Principals] ADD  DEFAULT (getdate()) FOR [Inserted_Datetime]
GO
/****** Object:  StoredProcedure [ETL].[SP_Insert_Bridge_Audit_File_Archive]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ETL].[SP_Insert_Bridge_Audit_File_Archive]
    @Audit_Source_Import_SK     INT,
    @Source_File_Archive_SK     INT,
    @Caller_Source_Import_SK    INT = NULL,
    @Caller_Audit_Source_Import_SK INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        INSERT INTO [ETL].[Bridge_Audit_File_Archive] (
            Audit_Source_Import_SK,
            Source_File_Archive_SK
        ) VALUES (
            @Audit_Source_Import_SK,
            @Source_File_Archive_SK
        );
    END TRY
    BEGIN CATCH
        DECLARE 
            @ErrorMessage   NVARCHAR(MAX) = ERROR_MESSAGE(),
            @ErrorNumber    INT           = ERROR_NUMBER(),
            @ErrorState     INT           = ERROR_STATE(),
            @ErrorLine      INT           = ERROR_LINE(),
            @ErrorSeverity  INT           = ERROR_SEVERITY();

        EXEC [ETL].[SP_Log_ETL_Error]
            @Procedure_Name         = N'SP_Insert_Bridge_Audit_File_Archive',
            @Error_Message          = @ErrorMessage,
            @Error_Number           = @ErrorNumber,
            @Error_State            = @ErrorState,
            @Error_Line             = @ErrorLine,
            @Error_Severity         = @ErrorSeverity,
            @Source_Import_SK       = @Caller_Source_Import_SK,
            @Audit_Source_Import_SK = @Caller_Audit_Source_Import_SK;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Insert_Source_File_Archive]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ETL].[SP_Insert_Source_File_Archive]
    @Audit_Source_Import_SK     INT,
    @Source_Import_SK           INT,
    @Original_File_Name         VARCHAR(255),
    @Archive_File_Name          VARCHAR(255),
    @Archive_Full_Path          VARCHAR(1000),
    @File_Row_Count             INT             = NULL,
    @Process_Status             VARCHAR(50)     = 'Success',
    @Source_File_Archive_SK     INT             OUTPUT,
    -- Optional context for error logging
    @Caller_Source_Import_SK    INT             = NULL,
    @Caller_Audit_Source_Import_SK INT          = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        INSERT INTO [ETL].[Fact_Source_File_Archive] (
            Audit_Source_Import_SK,
            Source_Import_SK,
            Original_File_Name,
            Archive_File_Name,
            Archive_Full_Path,
            File_Row_Count,
            Process_Status
        )
        VALUES (
            @Audit_Source_Import_SK,
            @Source_Import_SK,
            @Original_File_Name,
            @Archive_File_Name,
            @Archive_Full_Path,
            @File_Row_Count,
            @Process_Status
        );

        SET @Source_File_Archive_SK = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        DECLARE 
            @ErrorMessage   NVARCHAR(MAX) = ERROR_MESSAGE(),
            @ErrorNumber    INT           = ERROR_NUMBER(),
            @ErrorState     INT           = ERROR_STATE(),
            @ErrorLine      INT           = ERROR_LINE(),
            @ErrorSeverity  INT           = ERROR_SEVERITY();

        -- Log the error centrally
        EXEC [ETL].[SP_Log_ETL_Error]
            @Procedure_Name             = N'SP_Insert_Source_File_Archive',
            @Error_Message              = @ErrorMessage,
            @Error_Number               = @ErrorNumber,
            @Error_State                = @ErrorState,
            @Error_Line                 = @ErrorLine,
            @Error_Severity             = @ErrorSeverity,
            @Source_Import_SK           = @Caller_Source_Import_SK,
            @Audit_Source_Import_SK     = @Caller_Audit_Source_Import_SK;

        -- Re-throw original error so caller sees it
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Log_Audit_Source_Import_Insert]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ETL].[SP_Log_Audit_Source_Import_Insert]
    @Source_Import_SK       INT,
    @Start_Time             DATETIME,
    @Audit_Source_Import_SK INT OUTPUT,
    @Source_Import_SK_Context INT = NULL,           -- optional
    @Audit_Source_Import_SK_Context INT = NULL      -- optional (self-reference)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        INSERT INTO ETL.Fact_Audit_Source_Imports (
            Source_Import_SK, Start_Time
        ) VALUES (
            @Source_Import_SK, @Start_Time
        );
        
        SET @Audit_Source_Import_SK = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        DECLARE 
            @ErrorMessage   NVARCHAR(MAX) = ERROR_MESSAGE(),
            @ErrorNumber    INT           = ERROR_NUMBER(),
            @ErrorState     INT           = ERROR_STATE(),
            @ErrorLine      INT           = ERROR_LINE(),
            @ErrorSeverity  INT           = ERROR_SEVERITY();

        EXEC ETL.SP_Log_ETL_Error
            @Procedure_Name         = N'SP_Log_Audit_Source_Import_Insert',
            @Error_Message          = @ErrorMessage,
            @Error_Number           = @ErrorNumber,
            @Error_State            = @ErrorState,
            @Error_Line             = @ErrorLine,
            @Error_Severity         = @ErrorSeverity,
            @Source_Import_SK       = @Source_Import_SK_Context,
            @Audit_Source_Import_SK = @Audit_Source_Import_SK_Context;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Log_ETL_Error]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ETL].[SP_Log_ETL_Error]
    @Procedure_Name           NVARCHAR(128),
    @Error_Message            NVARCHAR(MAX),
    @Error_Number             INT = NULL,
    @Error_State              INT = NULL,
    @Error_Line               INT = NULL,
    @Error_Severity           INT = NULL,
    @Source_Import_SK         INT = NULL,
    @Audit_Source_Import_SK   INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO ETL.Fact_ETL_Errors (
        Procedure_Name,
        Error_Message,
        Error_Number,
        Error_State,
        Error_Line,
        Error_Severity,
        Source_Import_SK,
        Audit_Source_Import_SK
    )
    VALUES (
        @Procedure_Name,
        @Error_Message,
        @Error_Number,
        @Error_State,
        @Error_Line,
        @Error_Severity,
        @Source_Import_SK,
        @Audit_Source_Import_SK
    );
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Merge_Dim_Source_Imports]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ETL].[SP_Merge_Dim_Source_Imports]
    @Source_Import_SK       INT = NULL,              -- optional context
    @Audit_Source_Import_SK INT = NULL               -- optional context
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        DECLARE @Datetime DATETIME = GETDATE();

        -- Step 1: UPDATE existing records only if ANY attribute has changed
        UPDATE d
        SET
            d.Rel_Path         = s.Rel_Path,
            d.Pattern          = s.Pattern,
            d.Sheet_Name       = s.Sheet_Name,
            d.Staging_Table    = s.Staging_Table,
            d.Processing_Order = s.Processing_Order,
            d.Description      = s.Description,
            d.Is_Active        = s.Is_Active,
            d.Updated_Datetime = @Datetime
        FROM ETL.Dim_Source_Imports d
        INNER JOIN ETL.Source_Imports s
            ON d.Source_Name = s.Source_Name
        WHERE
            (
                d.Rel_Path          <> s.Rel_Path          OR (d.Rel_Path IS NULL AND s.Rel_Path IS NOT NULL) OR (d.Rel_Path IS NOT NULL AND s.Rel_Path IS NULL) OR
                d.Pattern           <> s.Pattern           OR (d.Pattern IS NULL AND s.Pattern IS NOT NULL) OR (d.Pattern IS NOT NULL AND s.Pattern IS NULL) OR
                d.Sheet_Name        <> s.Sheet_Name        OR (d.Sheet_Name IS NULL AND s.Sheet_Name IS NOT NULL) OR (d.Sheet_Name IS NOT NULL AND s.Sheet_Name IS NULL) OR
                d.Staging_Table     <> s.Staging_Table     OR (d.Staging_Table IS NULL AND s.Staging_Table IS NOT NULL) OR (d.Staging_Table IS NOT NULL AND s.Staging_Table IS NULL) OR
                d.Processing_Order  <> s.Processing_Order  OR (d.Processing_Order IS NULL AND s.Processing_Order IS NOT NULL) OR (d.Processing_Order IS NOT NULL AND s.Processing_Order IS NULL) OR
                d.Description       <> s.Description       OR (d.Description IS NULL AND s.Description IS NOT NULL) OR (d.Description IS NOT NULL AND s.Description IS NULL) OR
                d.Is_Active         <> s.Is_Active
            );

        -- Step 2: INSERT new records
        INSERT INTO ETL.Dim_Source_Imports (
            Source_Name,
            Rel_Path,
            Pattern,
            Sheet_Name,
            Staging_Table,
            Processing_Order,
            Description,
            Is_Active,
            Inserted_Datetime,
            Updated_Datetime
        )
        SELECT
            s.Source_Name,
            s.Rel_Path,
            s.Pattern,
            s.Sheet_Name,
            s.Staging_Table,
            s.Processing_Order,
            s.Description,
            s.Is_Active,
            @Datetime,
            NULL
        FROM ETL.Source_Imports s
        LEFT JOIN ETL.Dim_Source_Imports d
            ON d.Source_Name = s.Source_Name
        WHERE d.Source_Import_SK IS NULL;

        -- Step 3: SOFT-DELETE missing records
        UPDATE d
        SET
            d.Is_Deleted       = 1,
            d.Updated_Datetime = @Datetime
        FROM ETL.Dim_Source_Imports d
        LEFT JOIN ETL.Source_Imports s
            ON d.Source_Name = s.Source_Name
        WHERE s.Source_Name IS NULL
          AND d.Is_Deleted = 0;

        -- Step 4: RE-ACTIVATE previously deleted records that re-appear
        UPDATE d
        SET
            d.Is_Deleted       = 0,
            d.Updated_Datetime = @Datetime
        FROM ETL.Dim_Source_Imports d
        INNER JOIN ETL.Source_Imports s
            ON d.Source_Name = s.Source_Name
        WHERE d.Is_Deleted = 1;

        -- Optional: success log if you want to track successful merges
        -- PRINT 'Merge completed for Dim_Source_Imports';
    END TRY
    BEGIN CATCH
        DECLARE 
            @ErrorMessage   NVARCHAR(MAX) = ERROR_MESSAGE(),
            @ErrorNumber    INT           = ERROR_NUMBER(),
            @ErrorState     INT           = ERROR_STATE(),
            @ErrorLine      INT           = ERROR_LINE(),
            @ErrorSeverity  INT           = ERROR_SEVERITY();

        EXEC ETL.SP_Log_ETL_Error
            @Procedure_Name         = N'SP_Merge_Dim_Source_Imports',
            @Error_Message          = @ErrorMessage,
            @Error_Number           = @ErrorNumber,
            @Error_State            = @ErrorState,
            @Error_Line             = @ErrorLine,
            @Error_Severity         = @ErrorSeverity,
            @Source_Import_SK       = @Source_Import_SK,
            @Audit_Source_Import_SK = @Audit_Source_Import_SK;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Merge_Dim_Source_Imports_Mapping]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ETL].[SP_Merge_Dim_Source_Imports_Mapping]
    @Source_Import_SK       INT = NULL,
    @Audit_Source_Import_SK INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        DECLARE @Datetime DATETIME = GETDATE();

        -- Step 1: UPDATE existing records only if ANY attribute has changed
        UPDATE d
        SET
            d.Target_Column     = s.Target_Column,
            d.Data_Type         = s.Data_Type,
            d.Description       = s.Description,
            d.Updated_Datetime  = @Datetime
        FROM ETL.Dim_Source_Imports_Mapping d
        INNER JOIN ETL.Source_File_Mapping s
            ON d.Source_Name    = s.Source_Name
           AND d.Source_Column  = s.Source_Column
        WHERE
            (
                d.Target_Column     <> s.Target_Column     OR (d.Target_Column IS NULL AND s.Target_Column IS NOT NULL) OR (d.Target_Column IS NOT NULL AND s.Target_Column IS NULL) OR
                d.Data_Type         <> s.Data_Type         OR (d.Data_Type IS NULL AND s.Data_Type IS NOT NULL) OR (d.Data_Type IS NOT NULL AND s.Data_Type IS NULL) OR
                d.Description       <> s.Description       OR (d.Description IS NULL AND s.Description IS NOT NULL) OR (d.Description IS NOT NULL AND s.Description IS NULL)
            );

        -- Step 2: INSERT new records
        INSERT INTO ETL.Dim_Source_Imports_Mapping (
            Source_Import_SK,
            Source_Name,
            Source_Column,
            Target_Column,
            Data_Type,
            Description,
            Inserted_Datetime,
            Updated_Datetime
        )
        SELECT
            dsi.Source_Import_SK,
            s.Source_Name,
            s.Source_Column,
            s.Target_Column,
            s.Data_Type,
            s.Description,
            @Datetime,
            NULL
        FROM ETL.Source_File_Mapping s
        LEFT JOIN ETL.Dim_Source_Imports_Mapping d
            ON d.Source_Name    = s.Source_Name
           AND d.Source_Column  = s.Source_Column
        INNER JOIN ETL.Dim_Source_Imports dsi
            ON dsi.Source_Name = s.Source_Name
        WHERE d.File_Mapping_SK IS NULL;

        -- Step 3: SOFT-DELETE missing records
        UPDATE d
        SET
            d.Is_Deleted       = 1,
            d.Updated_Datetime = @Datetime
        FROM ETL.Dim_Source_Imports_Mapping d
        LEFT JOIN ETL.Source_File_Mapping s
            ON d.Source_Name    = s.Source_Name
           AND d.Source_Column  = s.Source_Column
        WHERE s.Source_Name IS NULL
          AND d.Is_Deleted = 0;

        -- Step 4: RE-ACTIVATE previously deleted records
        UPDATE d
        SET
            d.Is_Deleted       = 0,
            d.Updated_Datetime = @Datetime
        FROM ETL.Dim_Source_Imports_Mapping d
        INNER JOIN ETL.Source_File_Mapping s
            ON d.Source_Name    = s.Source_Name
           AND d.Source_Column  = s.Source_Column
        WHERE d.Is_Deleted = 1;

    END TRY
    BEGIN CATCH
        DECLARE 
            @ErrorMessage   NVARCHAR(MAX) = ERROR_MESSAGE(),
            @ErrorNumber    INT           = ERROR_NUMBER(),
            @ErrorState     INT           = ERROR_STATE(),
            @ErrorLine      INT           = ERROR_LINE(),
            @ErrorSeverity  INT           = ERROR_SEVERITY();

        EXEC ETL.SP_Log_ETL_Error
            @Procedure_Name         = N'SP_Merge_Dim_Source_Imports_Mapping',
            @Error_Message          = @ErrorMessage,
            @Error_Number           = @ErrorNumber,
            @Error_State            = @ErrorState,
            @Error_Line             = @ErrorLine,
            @Error_Severity         = @ErrorSeverity,
            @Source_Import_SK       = @Source_Import_SK,
            @Audit_Source_Import_SK = @Audit_Source_Import_SK;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [ETL].[SP_Truncate_Staging_Table]    Script Date: 2026/02/26 15:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ETL].[SP_Truncate_Staging_Table]
    @TableName              VARCHAR(128),
    @Source_Import_SK       INT           = NULL,
    @Audit_Source_Import_SK INT           = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        DECLARE @SQL NVARCHAR(MAX) = N'TRUNCATE TABLE ' + QUOTENAME(@TableName);
        EXEC sp_executesql @SQL;
    END TRY
    BEGIN CATCH
        DECLARE 
            @ErrorMessage   NVARCHAR(MAX) = ERROR_MESSAGE(),
            @ErrorNumber    INT           = ERROR_NUMBER(),
            @ErrorState     INT           = ERROR_STATE(),
            @ErrorLine      INT           = ERROR_LINE(),
            @ErrorSeverity  INT           = ERROR_SEVERITY();

        EXEC ETL.SP_Log_ETL_Error
            @Procedure_Name         = N'SP_Truncate_Staging_Table',
            @Error_Message          = @ErrorMessage,
            @Error_Number           = @ErrorNumber,
            @Error_State            = @ErrorState,
            @Error_Line             = @ErrorLine,
            @Error_Severity         = @ErrorSeverity,
            @Source_Import_SK       = @Source_Import_SK,
            @Audit_Source_Import_SK = @Audit_Source_Import_SK;

        THROW;
    END CATCH
END;
GO
USE [master]
GO
